<!DOCTYPE html>
<html>
  <head>
    <title>Takaonagayan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' , media: 'all','data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag params[:controller] , media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag params[:controller] , 'data-turbolinks-track': 'reload'%>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <%# ヘッダー部分 %>
    <%= render :partial => 'layouts/header'%>
    <div class="row">
      <div class="col-md-3 col-lg-3 hidden-sm">
        <%# 左側に横メニュー作る%>
        <%# TODO:ログイン時のみ表示 %>
        <%# TODO: モバイル版の時の表示の仕方を考える%>
        <%= render :partial => 'layouts/left_menu'%>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= yield %>
      </div>
      <div class="col-md-3 col-lg-3 hidden-sm">
        <%= render :partial => 'layouts/right_menu'%>
        <%# 右側に横メニュー作る%>
        <%# TODO: モバイル版の時の表示の仕方を考える%>
      </div>
    </div>
  </body>
</html>
