<!DOCTYPE html>
<html>
  <head>
    <title>Takaonagayan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag params[:controller] %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag params[:controller] %>
  </head>
  <body>
    <%# ヘッダー部分 %>
    <%= render :partial => 'layouts/header'%>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <%# 左側に横メニュー作る%>
        <%= render :partial => 'layouts/left_menu'%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= yield %>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <%= render :partial => 'layouts/right_menu'%>
        <%# 右側に横メニュー作る%>
      </div>
    </div>
  </body>
</html>
